@font-face {
    font-family:'Moderat';
    src: url('../fonts/Moderat Light.woffModerat Regular.woff2') format('woff2'),
		url('../fonts/Moderat Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}
@font-face {
    font-family:'Moderat Light';
    src: url('../fonts/Moderat Light.woff2') format('woff2'),
		url('../fonts/Moderat Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
}
:root {
    --general-text-color: #000000;
    --a-hover-color: #003cff;
    --h3-color: #787878;
    --footer-bg: #E6E6E6;
}

/*GENERAL*/

body {
    margin: 0;
    font-family: 'Moderat', 'Moderat Light', Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-size: 1rem;
    color: var(--general-text-color);
    line-height: 1.5;
    font-weight: 300;
}
* {
    box-sizing: border-box;
}
.container {
    width: 70rem;
    max-width: 100%;
    padding: 2rem 1rem;
    margin: 0 auto;
    /* border: 1px solid red; */
}
a {
    text-decoration: none;
    cursor: pointer;
}
li {
    list-style: none;
}
ul {
    padding: 0;
    margin: 0;
}
img {
    width: 100%;
}
/*HEADER*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav a {
    color: var(--general-text-color);
    font-size: 1.3125rem;
    line-height: 1.75rem;
    transition: all .2s ease-in-out;
}
header nav a:hover {
    color: var(--a-hover-color);
}
@media(min-width: 48rem) {
    header nav a {
        font-size: 1.75rem;
        line-height: 2.5rem;
    }
}
.logo img{
    width: 4.2875rem;
}
@media(min-width: 48rem) {
    .logo img{
        width: 7.35rem;
        margin-right: 6rem;
    }
}
/*FOOTER*/
footer {
    border-top: 1px solid #e6e6e6;
}
.footer__social ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
@media(min-width: 48rem) {
    .footer__social ul {
       padding-right: 3rem;
    }
    
}
.footer__social ul > * {
    width: 50%;
    margin-bottom: 1rem;
    
    
}

@media(min-width: 48rem) {
    .footer__social ul > * {
        width: 20%;
    }
    
}
.footer__social svg {
    width: 1.5rem;
}
.footer__social h5 {
    color: var(--general-text-color);
    font-size: 0.875rem;
    margin-top: .5rem;
}
.footer__social a {
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.footer__bottom h2 {
    font-size: 1.75rem;
    font-family:'Moderat Light';
}
.footer__bottom {
    background-color: var(--footer-bg);
}
.footer__bottom form {
    border: 1px solid rgba(0,0,0,0.2);
    height: 3rem;
    display: flex;
    padding: 0 .5rem;
    justify-content: space-between;
}
@media (min-width: 47.9375rem) {
    .footer__bottom form {
        width: 40%;
    }
}
.footer__bottom form input {
    background: none;
    border: none;
}
.footer__bottom form input:nth-child(2) {
    color: var(--a-hover-color);
    display: none;
}
.footer__bottom-logo {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
}
.footer__bottom-logo h2 {
    width: 6rem;
    margin: 0;
    font-size: 1.875rem;
    font-family:'Moderat';
    font-weight: 400;
}
.footer__bottom-logo a {
    color: var(--general-text-color);
    font-weight: 300;
    font-family:'Moderat Light';
    font-size: 1.75rem;
    display: block;
    width: 8rem;
}
.footer__bottom-photo {
    margin-top: 1.5rem;
}
@media (min-width: 47.9375rem) {
    .footer__bottom-photo {
        margin-top: 5.5rem;
    }
}
.footer__bottom-photo ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
@media (min-width: 47.9375rem) {
    .footer__bottom-photo ul {
        display: flex;
        flex-wrap: no-wrap;
        align-items: center;
        justify-content: flex-end;
    }
}


.footer__bottom-photo ul  > * {
    width: 48%;
    margin-bottom: .9rem;
}
@media (min-width: 47.9375rem)  {
    .footer__bottom-photo ul  > * {
        width: 18%;
        margin-left: .2rem;
    }
}
@media (min-width: 47.9375rem) {
    .footer__bottom-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .footer__bottom-wrapper > * {
        width: 50%;
    }
}
@media (min-width: 77.5rem) {
    
    .footer__bottom-logo {
        width: 40%;
    }
    .footer__bottom-photo {
        width: 60%;
    }
    
}
.footer__bottom-extra {
    margin-top: 4rem;
}
@media (min-width: 47.9375rem) {
    .footer__bottom-extra {
       display: flex;
       justify-content: space-between;
    }
}
.footer__bottom-extra p,
.footer__bottom-extra a {
    font-size: 0.75rem;
    color: var(--generic-text-color);
    font-family: 'Moderat';
    font-weight: 400;
}
.footer__bottom-extra p {
    margin: 0;
}
.footer__bottom-extra span {
    margin-left: .1rem;
    margin-right: .2rem;
}
.footer__bottom-extra ul {
    display: flex;
}


